/* || @ 1024px*/
@media screen and (max-width: 1024px) {
    /* || Body Styles */
    body {max-width: 85%;}

    /* || Hero Section */
    .hero-section {
        height: 400px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .hero-item {width: 75%;}

    .hero-title {font-size: 25px;}

    .hero-item p {font-size: 15px;}
}

/* || @ 768px */
@media screen and (max-width: 768px) {
    /* || Navbar */
    .navbar-brand {
        font-size: 20px;
    }
}