/* || Root */
:root {
    --pink: #ED7F8D;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 75%;
    background: url('../img/background.png');
    background-size: 50%;
    background-position: center;
    background-repeat: repeat;
    box-shadow: 0 5px 15px black;
}

main {
    background: var(--pink) ;
}


/* || Navbar */
.navbar {
    background: var(--pink);
}

.navbar a {
    color: black;
}

.nav-item, .navbar-brand {
    margin: 5px 15px;
}

.section-title {
    text-align: center;
    margin: 20px auto;
}

/* || Hero Section */
.hero-section {
    display: flex;
    /* border: thick solid var(--pink); */
    background-image: url('../img/cover-img.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 100%;
    text-align: center;
    justify-content: end;
    align-items: center;
    z-index: 0;
}

.hero-item {
    width: 50%;
    margin: 0 20px;
    padding: 15px;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.75);
}

.hero-btn {
    outline: none;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 50%;
    background: pink;
    cursor: pointer;
}

/* || Our Story Section */
.column {
    float: left;
    height: 500px;
    width: 45%;
    margin: 20px auto;
    padding: 10px;
    background: white;
}

.our-story-img {
    background-image: url('../img/3-pig-project.jpg');
    background-size: cover;
}

/* || Contact Us*/
.column h4 {
    text-align: center;
}

form {
    padding: 5px;
}

form button {
    display: block;
}

form label, form input, form textarea, form button {
    width: 100%;
}

textarea {
    resize: none;
}

/* || Products Page */
.product-title {
    text-align: center;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    border-radius: 10px;
    flex: 20%;
    max-width: 20%;
    height: 100%;
    margin: 15px;
    display: block;
    background: white;
}

.cards-body {
    margin: 0;
    padding: 5px;
}

.cards-body img {
    min-height: 30vh;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 20px;
    text-align: center;
}

.card-info {

}

.card-price {
    text-align: right;
    margin-bottom: 0;
}

/* || Footer */
footer {
    text-align: center;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    height: 100%;
}


/* || Notes for future
1. Make the entire page have a thicker pink border on left and right


*/
