/* || Root */
:root {
    --pink: #ed7f8d;
    --white: white;
    --black: #0C131D;
    --pt-serif: 'PT Serif', serif;
    --balsamiq: 'Balsamiq Sans', cursive;
    --schoolbell: 'Schoolbell', cursive;
    --baloo: 'Baloo 2', cursive;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 75%;
    background: url('../img/background.png');
    background-size: 50%;
    background-position: center;
    background-repeat: repeat;
    box-shadow: 0 5px 15px var(--black);
    font-family: var(--baloo);
}

main {
    background: var(--black);
}

.header {
    font-size: 2rem;
    background: var(--white);
    color: var(--black);
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.header-alt {
    font-size: 2rem;
    background: var(--black);
    color: var(--pink);
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

/* || Navbar */
.navbar {
    font-family: var(--balsamiq);
    background: var(--black);
}

.navbar a {
    color: var(--pink);
    transition: 0.3s;
}

.navbar a:hover {
    color: white;
}

.navbar-brand {
    font-size: 2vw;
    font-family: var(--schoolbell);
}

.navbar-brand button {
    margin: 0 auto;
}

.nav-item, .navbar-brand {
    margin: 5px 15px;
}

.hamburger {
    width: 35px;
    height: 3px;
    background-color: var(--pink);
    margin: 6px 0;
    border-radius: 1px;
}

.section-title {
    text-align: center;
    margin: 20px auto;
    font-family: var(--schoolbell);
    color: var(--pink);
}

/* || Hero Section */
.hero-section {
    display: flex;
    background-image: url('../img/cover-img.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 100%;
    text-align: center;
    justify-content: end;
    align-items: center;
    z-index: 0;
}

.hero-title {
    font-family: var(--schoolbell);
    color: var(--pink)
}

.hero-item {
    font-family: var(--balsamiq);
    width: 75%;
    margin: 100px auto;
    padding: 15px;
    line-height: 1.75em;
    border-radius: 10px;
    background: var(--black);
    text-align: center;
}

.hero-item p {
    font-family: var(--pt-serif);
    color: var(--white);
    font-size: 16px;
}

.hero-item a {transition: 0.3s;}

.hero-item a:hover {
    text-decoration: none;
    color: var(--white);
}

.hero-btn {
    outline: none;
    border: none;
    width: 50%;
    background: var(--black);
    color: var(--pink);
    cursor: pointer;
}

.hero-btn a {
    color: var(--pink);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
    padding: 10px 5px;
}

.hero-btn a:hover {
    color: var(--black);
    background: var(--pink);
}

/* || Our Story Section */
.column {
    float: left;
    height: 500px;
    width: 45%;
    margin: 20px auto;
    padding: 10px;
    background:  var(--black);
    color: var(--white);
}

.our-story-img {
    background-image: url('../img/3-pig-project.jpg');
    background-size: cover;
    border-radius: 10px;
}

.our-story-column {
    line-height: 1.75em;
}

/* || Parallax */
.parallax {
    min-height: 300px;
    background-image: url("../img/parallax.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    min-height: 300px;
    background-image: url("../img/parallax-2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* || Contact Us*/
.column h4 {
    text-align: center;
}

.home-contact p {
    padding: 5px 0;
}

iframe {
    width: 100%;
    height: 85%;
}

form {
    padding: 5px;
    background: var(--black);
}

form label, form input, form textarea, form button {
    width: 100%;
    border-radius: 5px;
}

form input, textarea {
    border: thin solid var(--black);
    background: white;
}

form button {
    border: thin solid var(--black);
    background: var(--pink);
    padding: 5px 0;
    transition: 0.3s;
}

form button:hover {
    background: var(--white);
    color: var(--black);
}

textarea {
    resize: none;
}

/* || Product Page */
.menu-container {
    background: var(--white);
    margin: 0 auto;
    padding: 25px;
    width: 90%;
    border-radius: 10px;
    border: 15px double var(--pink);
    color: var(--black);
}

.menu-container h5 {
    text-align: center;
    padding: 5px;
    line-height: 2px;
}

.menu-container h5 a {
    color: var(--pink);
    text-decoration: underline;
}

.menu-title {
    font-size: 30px;
    padding: 15px 0;
    text-align: center;
}

.menu-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px dotted var(--black);
    margin: 0;
    padding: 5px 0;
}

.item-name {
    font-size: 20px;
}

.item-price {
    font-size: 20px;
}

/* || About Us */
.about-hero p {
    font-size: 20px;
}

.about-pictures {
    display: flex;
}

.about-pictures img {
    width: 25%;
    margin: 20px auto;
    box-shadow: 0 5px 10px var(--black);
}

.about-info {
    padding: 25px 0;
    background: var(--white);
}

.about-info p {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    line-height: 1.75em;
}

.about-values {
    background: var(--black);
    color: var(--white);
    padding: 0;
}

.about-values-p {
    width: 75%;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    line-height: 1.75em;
}

.about-belief {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}

.about-belief i {
    color: var(--pink);
    font-size: 10em;
}

/* || Footer */
footer {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    background: var(--black);
    color:  var(--white);
}
