/* || Root */
:root {
    --pink: #ED7F8D;
    --white: #FFF5EE;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 75%;
    background: url('../img/background.png');
    background-size: 50%;
    background-position: center;
    background-repeat: repeat;
    box-shadow: 0 5px 15px black;
}

main {
    background: var(--pink) ;
}

.border-radius {
    border-radius: 10px;
}


/* || Navbar */
.navbar {
    background: var(--pink);
}

.navbar a {
    color: black;
}

.navbar-brand {
    font-size: 2vw;
}

.nav-item, .navbar-brand {
    margin: 5px 15px;
}

.section-title {
    text-align: center;
    margin: 20px auto;
}

/* || Hero Section */
.hero-section {
    display: flex;
    background-image: url('../img/cover-img.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 100%;
    text-align: center;
    justify-content: end;
    align-items: center;
    z-index: 0;
}

.hero-item {
    width: 50%;
    margin: 100px auto 0 auto;
    padding: 15px;
    border-radius: 10px;
    background: var(--white);
}

.hero-btn {
    outline: none;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 50%;
    background: var(--pink);
    cursor: pointer;
}

/* || Our Story Section */
.column {
    float: left;
    height: 500px;
    width: 45%;
    margin: 20px auto;
    padding: 10px;
    background:  var(--white);
}

.our-story-img {
    background-image: url('../img/3-pig-project.jpg');
    background-size: cover;
    border-radius: 10px;
}

/* || Contact Us*/
.column h4 {
    text-align: center;
}

form {
    padding: 5px;
}

form button {
    display: block;
}

form label, form input, form textarea, form button {
    width: 100%;
}

textarea {
    resize: none;
}

/* || Products Page */
.product-title {
    text-align: center;
    padding: 5px 0;
}

.product-title-alt {
    background:  var(--white);
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}

.card-wrapper-alt {
    background:  var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}

.cards {
    border-radius: 10px;
    flex: 20%;
    max-width: 20%;
    height: 100%;
    margin: 15px;
    display: block;
    background:  var(--white);
}

.cards-alt {
    background: var(--pink) !important;
}

.cards-body {
    margin: 0;
    padding: 5px;
}

.cards-body img {
    min-height: 30vh;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 20px;
    text-align: center;
}

.card-info {
    padding: 0 5px;
}

.card-price {
    text-align: right;
    margin-bottom: 0;
}

/* || About Us */
.about-hero {
    background: var(--white);
    text-align: center;
    padding: 25px 0 30px 0;
}

.about-hero img {
    width: 75%;
    height: auto;
    margin: 10px auto;
    padding: 0;
    display: block;
}

.about-hero p {
    font-size: 20px;
}

.about-pictures {
    display: flex;
}

.about-pictures img {
    width: 25%;
    margin: 20px auto;
}

.about-info {
    padding: 25px 0;
}

.about-info p {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.about-values {
    background: var(--white);
    padding: 0;
}

.about-values-p {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.about-belief {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
}

.about-belief i {
    color: var(--pink);
    font-size: 10em;
}

/* || Footer */
footer {
    text-align: center;
    margin: 0;
    padding: 0;
    background: black;
    color:  var(--white);
    height: 100%;
}


/* || Notes for future
1. Make the entire page have a thicker pink border on left and right


*/
